INSERT INTO reorder_training (
       [user_id]
      ,[product_id]
      ,[order_id]
      ,[reordered]
      ,[product_affinity]
      ,[order_adj_days_since_prior]
      ,[order_number]
      ,[aisle_affinity]
      ,[department_affinity]
      ,[adj_schedule_metric]
      ,[reorder_rate]
      ,[reorder_age]
      ,[diff_hr]
      ,[sd_days_btwn]
      ,[stop_rate]
      ,[p_avg_schedule_metric]
      ,[p_avg_reorder_rate]
      ,[p_stop_rate]
      ,[p_avg_sd_days_btwn]
      ,[assc_p1_adj_support]
      ,[assc_p1_affinity]
      ,[assc_up_aisle_affinity]
      ,[assc_up_schedule_metric]
      ,[assc_up_reorder_rate]
      ,[assc_up_reorder_age]
      ,[assc_up_stop_rate]
      ,[assc_up_sd_days_btwn]
      ,[assc_up_diff_hr]
      ,[anti_p1_adj_support]
      ,[anti_p1_affinity]
      ,[anti_up_aisle_affinity]
      ,[anti_up_schedule_metric]
      ,[anti_up_reorder_rate]
      ,[anti_up_reorder_age]
      ,[anti_up_stop_rate]
      ,[anti_up_sd_days_btwn]
      ,[anti_up_diff_hr]
)
SELECT * FROM [instacart].[dbo].[user_products__train];